body {
    font-family: 'Cabin', sans-serif;
    background-color: #121212;
    color: #F8F9FA;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.9875rem;
    font-weight: 500;
    line-height: 120%;
}

h2 {
    font-size: 2.4875rem;
    font-weight: 500;
    line-height: normal;
}

h3 {
    font-size: 2.075rem;
    font-weight: 500;
    line-height: 140%;
}

h4 {
    font-size: 1.725rem;
    font-weight: 500;
    line-height: normal;
}

h5 {
    font-size: 1.4375rem;
    font-weight: 500;
    line-height: normal;
}

h6 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
}

.smalltext {
    font-size: 0.83125rem;
    font-weight: 400;
    line-height: normal;
}

.microtext {
    font-size: 0.69375rem;
    font-weight: 400;
    line-height: normal;
}

.border {
    border-left: 1px #4a4a4a solid;
    border-right: 1px #4a4a4a solid;
    border-bottom: 1px #4a4a4a solid;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    max-height: 85px;
    width: 75%;
    margin: 0 auto;
    position: fixed;
    background-color: rgba(18, 18, 18, 0.8);
    backdrop-filter: blur(4px);
    z-index: 1000;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.header a {
    text-decoration: none;
    color: #F8F9FA;
}

.logo {
    font-size: 1.725rem;
    font-weight: 700;
}

.logo span {
    color: #737373;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 4px;;
    justify-content: space-between;
    width: 20px;
    height: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
  }
  
  .burger .bar {
    height: 4px;
    width: 100%;
    background-color: #F8F9FA; /* à ajuster selon votre thème */
    border-radius: 2px;
    transition: all 0.3s ease;
  }

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline;
    font-size: 1.2rem;
}

.nav-list a {
    text-decoration: none;
    color: #737373;
    font-weight: 500;
}

.nav-list a:hover {
    color: #F8F9FA;
}

.nav-list li.active a {
    color: #F8F9FA;
}

.language-selector {
    display: flex;
    position: relative;
    align-items: center;
    position: relative;
}

#language-select {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: #121212;
    color: #F8F9FA;
    border: 1px solid #737373;
    border-radius: 8px;
    padding: 10px 40px 10px 15px;
    appearance: none;
    cursor: pointer;
    outline: none;
}

#language-select:hover {
    border-color: #F8F9FA;
}

#language-select:focus {
    outline: none;
    border-color: #F8F9FA;
}

.language-selector::after {
    content: "▼";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #737373;
    pointer-events: none;
    font-size: 0.8rem;
}

#language-select:hover + .language-selector::after {
    color: #F8F9FA;
}

.introduction {
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
}

.introduction-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.upper-introduction {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#options ul {
    list-style: none;
    display: inline-flex;
    gap: 50px;
    padding: 5px 0;
    margin: 0;
    font-size: 1.4375rem;
    font-weight: 500;
    line-height: normal;
}

#options a {
    text-decoration: none;
    color: #737373;
}

#options a.active {
    color: #F8F9FA;
}

#options a:hover {
    color: #F8F9FA;
}

.location {
    font-style: italic;
    margin: 20px 0;
}

.striked {
    text-decoration: line-through;
    color: #737373;
}

.lower-introduction {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: #F8F9FA;
    color: #121212;
    padding: 15px 0;
    border-radius: 8px;
    text-decoration: none;
    border: 1px #E0E0E0 solid;
    cursor: pointer;
    width: 145px;
}

.button:hover {
    background-color: #D5D5D5;
    border: 1px #737373 solid;
}

.status {
    color: #30D158;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.bullet {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #30D158;
    border-radius: 50%;
    margin-right: 10px;
}

.projects-container {
    width: 75%;
    margin: 0 auto;
}

.separator {
    padding: 50px 0;
    text-align: center;
}

.separator a {
    color: #F8F9FA;    
}

.separator a:hover {
    color: #737373;
}

.separator a:visited {
    color: #F8F9FA;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 100px 50px;
}

.project-title {
    width: 100%;
}

.project-title h6 {
    color: #737373;
    margin-bottom: 5px;
}

.project-description {
    max-width: 300px;
}

.project-description p {
    margin-bottom: 50px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
}

.project-card img {
    width: 100%;
    max-width: 685px;
    height: auto;
    border-radius: 8px;
}

.insection-separator {
    height: 50px;
}

.about-container {
    width: 75%;
    margin: 0 auto;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px 50px;
}

.about-text p {
    font-size: 2.075rem;
    font-weight: 500;
    line-height: 140%;  
    width: 100%; 
}

.about-text a {
    color: #F8F9FA;
}

.about-text a:hover {
    color: #737373;
}


.resume-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: none;
    width: 460px;
}

.column h2 {
    margin-bottom: 65px;
}

.entry {
    margin-bottom: 65px;
}

.entry-organization {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 15px;
}

.entry-role {
    font-size: 1.725rem;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 15px;
}

.entry-location {
    font-size: 0.83125rem;
    font-weight: 400;
    line-height: normal;
    color: #737373;
    padding-bottom: 10px;
}

.entry-location span {
    margin-right: 30px;
}

.contact-container {
    width: 75%;
    margin: 0 auto;
}

.contact-content {
    padding: 150px 50px;
}

.contact-info {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    padding: 0;
}

.profile-picture {
    max-width: 335px;
    height: auto;
    margin-bottom: 20px;
}

.apprenticeship-status {
    font-size: 2.075rem;
    font-weight: 500;
    line-height: 140%;
}

.contact-picture {
    width: 100%;
    max-width: 335px;
}

.contact-picture-links {
    display: flex;
    justify-content: space-between;
}

.contact-content a {
    text-decoration: none;
    color: #F8F9FA;
}

.contact-content a:hover {
    text-decoration: underline;
}

.contact-content a:visited {
    color: #F8F9FA;
}

.contact-message p {
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;

}

.contact-message {
    text-align: left;
}

footer {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1065px;
    padding: 0 50px;
}

.footer-section {
    text-align: left;
    padding-left: 20px;
}

.footer-section h3 {
    font-size: 1.725rem;
    font-weight: 500;
    line-height: normal;
    position: relative;
    display: flex;
    align-items: center;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
}

.footer-container a {
    color: #F8F9FA;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin: 100px 0 0 0;
}

.hero-container {
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
}

.project-name {
    font-size: 1.4375rem;
    font-weight: 500;
    line-height: normal;
}

.hero-upper h1 {
    margin: 10px 0; 
}

.hero-lower {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;

}

.hero-info-section {
    text-align: left;
    padding-left: 20px;
}

.hero-info-section h3 {
    font-size: 1.725rem;
    font-weight: 500;
    line-height: normal;
    position: relative;
    display: flex;
    align-items: center;
}

.hero-info-section h3::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 1.725rem;
    width: 1px;
    background-color: #737373;
}

.hero-info-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hero-info-section ul li {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
    color: #737373;
}

.hero-info-section p {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
    color: #737373;
}

.part-container {
    padding: 100px 50px;
    /* padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px; */
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
}

.section-title {
    font-size: 2.075rem;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 20px;
}

.section-subheading {
    font-size: 1.725rem;
    font-weight: 500;
    line-height: normal;
    margin: 30px 0;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 150px;
    margin-bottom: 50px;
}

.text-content {
    flex: 1;
    min-width: 300px;
}

.text-content p {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
}

.text-content li {
    margin-bottom: 5px;
    line-height: 140%;
}

.image-content {
    flex: 1;
    padding: 0;
}

.image-content img {
    max-width: 450px;
    max-height: 325px;
    border-radius: 8px;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.text-and-pic p {
    max-width: 465px;
    margin: 0 0 15px 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
}

.text-and-pic img {
    max-width: 450px;
    max-height: 325px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

.big-picture img {
    width: 100%;
    height: 100%;
    margin: 15px 0;
    border-radius: 8px;
}

.end {
    width: 75%;
    margin: 0 auto;
}

.three-images {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.three-images img {
    max-height: 280px;
    max-width: 280px;
    height: 100%;
    width: 100%;
}

#youtube-third-part img {
    max-width: 267px;
    margin: 50px 0;
}




/* TABLETTES : ≤ 1024px */
@media (max-width: 1024px) {
    .header,
    .introduction,
    .projects-container,
    .about-container,
    .contact-container,
    footer {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-list {
        gap: 30px;
    }

    .project-card {
        flex-direction: column;
        padding: 75px 20px;
    }

    .about-content {
        padding: 75px 20px;
    }

    .contact-content {
        padding: 100px 20px;
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .resume-container {
        flex-direction: column;
        gap: 50px;
    }

    .column {
        width: 100%;
    }

    .hero-lower {
        flex-direction: column;
        gap: 30px;
    }

    .hero-container, .part-container{
        width: 90%;
        height: fit-content;
    }

    .hero-lower {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .end {
        width: 90%;
    }

    footer {
        width: 85%;
    }
}

/* MOBILES : ≤ 768px */
@media (max-width: 768px) {
    h1 { font-size: 2.2rem; }
    h2 { font-size: 1.9rem; }
    h3 { font-size: 1.6rem; }
    h4 { font-size: 1.3rem; }
    h5 { font-size: 1.1rem; }
    h6 { font-size: 1rem; }
    p, .button, .entry-role, .about-text p { font-size: 0.95rem; }

    .header {
        width: 90%;
    }

    .nav-list {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .logo {
        font-size: 1.5rem;
    }

    #options ul {
        gap: 20px;
        font-size: 1.2rem;
    }

    .burger {
        display: flex;
    }

    .nav-list {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: rgba(18, 18, 18, 0.8);
        backdrop-filter: blur(4px);
        flex-direction: column;
        gap: 16px;
        padding: 20px;
        display: none;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      }

    .nav-list.active {
        display: flex;
    }

    .lower-introduction {
        align-items: flex-start;
    }

    .project-description {
        max-width: 100%;
    }

    .contact-info {
        flex-direction: column;
        align-items: right;
        gap: 30px;
    }

    .hero-container, .part-container{
        width: 90%;
        height: fit-content;
    }

    .hero-lower {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .end {
        width: 90%;
    }

    footer {
        width: 80%;
    }

    p, ul, .section-subheading {
        word-break: break-word;
        overflow-wrap: break-word;
        max-width: 90%;
        box-sizing: border-box;
    }
}


/* TRÈS PETITS MOBILES : ≤ 480px */
@media (max-width: 480px) {
    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.3rem; }

    .language-selector::after {
        right: 8px;
    }

    #language-select {
        padding: 10px 35px 10px 12px;
    }

    .contact-info {
        flex-direction: column;
        gap: 30px;
    }

    .profile-picture,
    .contact-picture {
        max-width: 100%;
    }
}
